@charset "UTF-8";

main {
    margin: 5% 10%
}

.titulo {
    background-color: #ff7000;
    color: #ffffff;

    margin: 5% 0% auto;
    width: 100%;
    height: 200px;
}

.titulo h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;

    margin: auto;
    padding: 2%;
    padding-bottom: 0%;
    width: 36%;
}

.titulo p {
    font-size: 16px;
    font-weight: 400;

    margin: auto;
    padding: 2%;
    width: 30%;
}

/*Titulo Blog-posts*/

.capa {
    width: 100%;
    height: 270px;
}

#banner {
    height: 100%;

    background-image: url(../img/blog/post_banner.png);
}

#manchete {
    background-color: #ffffff;
    color: black;
    margin: 2.5% 0%;
    height: 100px;
}

#manchete h1 {
    text-align: justify;
    padding: 0%;
    width: 100%;
}

#manchete p {
    text-align: justify;
    padding: 0%;
    width: 100%;
}

/*Quadro de Posts*/

.quadro {
    overflow: hidden;
    width: 100%;
}

.post {
    width: 500px;
    height: 520px;
    border-radius: 20px;
    margin: 5% 2.5%;
    padding: 2.5%;

    float: left;
    text-align: justify;
}

.imagem {
    width: 100%;
    height: 50%;
    border-radius: 20px;

    background-image: url(../img/blog/blog_image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.miniatura {
    width: 100%;
    height: 50%;
    border-radius: 20px;

    object-fit: cover;
    object-position: 0% 70%;
}

/*Botoes, Pesquisa e Links*/

.pesquisa {
    display: flex;
    margin-right: 5%;
}
.pesquisa * {
    border-radius: 45px;
    margin-left: auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #ff7000;
}

button {
    background: #ffffff;
}

button:hover {
    background-color: #ff7000;
    color: #ffffff;
}

.botao-mais {
    display: flex;
}

.botao-mais *{
    width: 350px;
    height: 50px;
    margin: auto;
    border-radius: 45px;

    font-size: 14;
    font-weight: 500;
}

/*Envelopamento de Imagem em Texto*/

.evelope {
    display: flex;
    box-sizing: border-box;
}

.caixote {
    width: 100%;
    margin: 5% 0%;
}

.texto {
    text-align: justify;

    font-size: 18px;
    font-weight: 400;
}

.pacote {
    max-width: 467px;
    float: right;
    border-radius: 10px;
    margin: 0px 15px;
}

/*.infos*/

.info {
    display: flex;
    justify-content: space-between;
}

.info .link-post {
    margin-left: auto;

}

.autor {
    font-size: 16px;
    font-weight: 700;
}

.data-hora {
    font-size: 16px;
    font-weight: 500;
}
