@charset "UTF-8";

main
{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
p
{
    text-align: justify;
}
.headline
{
    background-color: #ff7000; 
    color: #ffffff;
    text-align: center;
}