body{
    margin: 0;
    padding: 0;
}

.card-footer{
    margin:0;
    padding: 0;
}

footer{
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
}

section{
    display: flex;
    margin: 58px 150px 130px 97px;
    flex-direction: row;
}

.texto-fale-conosco{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.abaixo-fale-conosco{
    font-family: "Montserrat", sans-serif;
    color: rgba(149, 161, 187, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.map-container{
    width: 1000px;
}

.form-control{
    border: none;
}

.form-control input{
    border: 1px solid #E5E5E5;
}