@charset "UTF-8"; 

body{
    margin: 0;
    padding: 0;
}

.card-footer{
    margin:0;
    padding: 0;
}

footer{
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
}

.navegar {
    padding-left: 140px;
}

main {
    display: flex;
    margin: 60px 0px;
    text-align: left;

    justify-content: center;
}

section{
    width: 100%;
    max-width: 1192px;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 100px 50px;
}

.fale-conosco-container {
    width: 460px;
    height: 320px;
}

.texto-fale-conosco{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.abaixo-fale-conosco{
    font-family: "Montserrat", sans-serif;
    color: rgba(149, 161, 187, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.map-container{
    width: 642px;
    height: 384px;
    border-radius: 20px;
}

.map iframe{
    width: 642px;
    height: 350px;
    border-radius: 20px; 
}

.enviar {
    width: 430px;
    height: 40px;

    margin-top: 20px;
    border-radius: 90px;
    border: 1px solid #787878;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    background-color: #ffffff;
    color: #787878;    
}

.enviar:hover {
    background-color: #ff7000;
    color: #ffffff;
    border-color: #ff7000;
    font-weight: bold;
}