body{
    display: flex;
    flex-direction: column;
}

.container{
    margin: 0auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-footer{
    margin:0;
    padding: 0;
}

footer{
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.bem-vindo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.texto-bemVindo{
    margin-top: 12rem;
    
}
.texto-bemVindo p{
    font-size: 1.25rem;

   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.375rem;
    

color: #262626;


}
.texto-bemVindo h1{
    font-size: 3.125rem;
    font-weight: bold;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3.438rem;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #262626;

    margin-top: 18rem;

}

.texto-bemVindo span{
    color: #ff7000;
	}

.imagem-bemVindo img{
    max-width: 90%;
    margin-left: 4rem;
}
.explorar{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.explorar img{
    margin-left: 0.313rem;
    max-width: 5.625rem;
}

.explorar-cursos{
    border: 1px solid #ff7000;
    width: 33%;
    height: 2.188rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.explorar-cursos:active{
    transform: translateY(2px);
}
.explorar-cursos span{
    font-size: 1.875rem;
    color: #ff7000;
    margin-left: 0.125rem;
}
.explorar-cursos h3{
    font-size: 1rem;
    margin-left: 0.313rem;
    display: flex;
    margin-top: 0.438rem;
}

.cursos-mais-populares{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 8rem;

}	


.carousel{
    width: 100%;
    display: flex;
    flex-direction: row;
}



.cursos-mais-populares h3{
    font-size: 2.188rem;
    font-weight: bold;
}

.lista-cursos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container{
    margin: 0;
    padding: 0;
}

.secao-nossa-historia {
    display: flex;
    flex-direction: row;
    margin: 5rem 6.5rem 7rem 10rem;
    justify-content: center;
    align-items: start;
}

.foto-01 img {
    padding: 0px;
    max-width: 100%;    
}

.texto-nossa-historia {
    width: 40%;
    margin-left: 2rem;
    padding: 0px;
}

.texto-nossa-historia h2 {

    text-align: left;
    font-size: 3rem;
    margin-bottom: 1.875rem;
    position: relative;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 3.875rem;
    color: #262626;
}

.texto-nossa-historia h2::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 93%;
    transform: translateX(-100%);
 
    background-color: #F97B22;;
}

.texto-nossa-historia p {
    
    font-size: 1.125rem;
    margin: 0px;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 1.375rem;
    font-style: normal;
    color: #262626;
}

.alunos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
    width: 100%;
    overflow-x: hidden;
    position: relative;
  
    
}
.wrapper{
    display: flex;
    animation: scroll 50s linear infinite;
}

.alunos h3{
    font-size: 2.188rem;
    font-weight: bold;
    margin-bottom: 5rem;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;

    line-height: 4rem;
    /* identical to box height, or 133% */
    text-align: center;
    color: #262626;
}



.lista-alunos{

    display: flex;
}



@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.buttons{
    display: flex;
    justify-content: end;
    margin-top: 0.625rem;
    margin-right: 2rem;
}

.buttons button{
    margin-left: 0.625rem;
    padding: 0.313rem 0.625rem;
    border: none;
    background-color: white;
  }

  @media screen and (max-width: 768px) {
    .imagem-bemVindo img{
        display: none;
    }
    .secao-nossa-historia{
        flex-direction: column;
        margin: 5rem 0 7rem 0;
    }

}
