body{
    margin: 0;
    padding: 0;
}
.card-footer{
    margin:0;
    padding: 0;
}

footer{
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.bem-vindo{
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    justify-content: space-between;
}
.texto-bemVindo{

    margin-left: 10rem;
    margin-top: 9.375rem;
}
.texto-bemVindo p{
    font-size: 1.25rem;
}
.texto-bemVindo h1{
    font-size: 3.125rem;
    font-weight: bold;
}

.imagem-bemVindo img{
    max-width: 100%;
    margin-right: 9rem;
}
.explorar{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.explorar img{
    margin-left: 5px;
    max-width: 90px;
}

.explorar-cursos{
    border: 1px solid #ff7000;
    width: 33%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.explorar-cursos:active{
    transform: translateY(2px);
}
.explorar-cursos span{
    font-size: 30px;
    color: #ff7000;
    margin-left: 2px;
}
.explorar-cursos h3{
    font-size: 16px;
    margin-left: 5px;
    display: flex;
    margin-top: 7px;
}

.cursos-mais-populares{
    margin-top: 100px;
    margin-left: 10rem;
    margin-right: 0;
}	

.buttons-cursos{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 9rem;
    margin-top: 5rem;

}
.buttons-cursos button{
    background-color: white;
    border: none;
    
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.cursos-mais-populares h3{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.lista-cursos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 6.2rem;
}
.container{
    margin: 0;
    padding: 0;
}

.secao-nossa-historia {
    display: flex;
    flex-direction: row;
    margin: 5rem 6.5rem 7rem 10rem;
    justify-content: center;
    align-items: center;
}

.foto-01 {
    padding: 0px;
}

.texto-nossa-historia {
    
    margin-left: 2rem;
    padding: 0px;
}

.texto-nossa-historia h2 {

    text-align: left;
    font-size: 35px;
    margin-bottom: 30px;
    position: relative;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
}
.texto-nossa-historia h2::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 93%;
    transform: translateX(-100%);
 
    background-color: #F97B22;;
}

.texto-nossa-historia p {
    
    font-size: 18px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    color: #262626;
}

.alunos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
    width: 100%;
    overflow-x: hidden;
    position: relative;
  
    
}
.wrapper{
    display: flex;
    animation: scroll 50s linear infinite;
}

.alunos h3{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 5rem;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;

    line-height: 64px;
    /* identical to box height, or 133% */
    text-align: center;
    color: #262626;
}



.lista-alunos{

    display: flex;
}



@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.buttons{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 8rem;
}

.buttons button{
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: white;
  }
