.buttons{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 4rem;
}

.buttons button{
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: white;
  }
